// style composant card
.card {
  // definition de l'affichage de la carte et des dimensions en largeur maximale et minimale
  flex: 1 0 25%;
  min-width: 260px;
  max-width: 400px;
  height: 350px;
  background: $color-1;
  border-radius: 35px;
  margin: 20px;
  position: relative;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  //animation au survol de la souris
  &:hover {
    border: thick double $color-6;
    animation: secouer 2s;
    box-shadow: 10px 5px 5px $color-4;
    @keyframes secouer {
      50% {
        transform: translateX(10px) translateY(-10px);
      }
    }
  }
  // style de la photo
  img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    object-position: top;
  }

  h1 {
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: end;
    padding-right: 2px;
    color: $color-2;
    font-size: 1.6rem;
    font-weight: 800;
    width: 98%;
    animation: apparition 2s;
  }
  .card-text {
    // style de la zone d'affichage du texte et définition de la grille d'affichage
    background: $white;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 100px;
    grid-template-areas: "a b";
    
    // définition du style du texte d'information et animation au chargement de la page
    h2 {
      grid-area: b;
      display: flex;
      color: $color-4;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
      text-align: center;
      height: 100%;
      animation: apparition 4s;

      @media screen and (min-width: 1060px) and (max-width: 1300px) {
        font-size: 1rem;
      }
      @media screen and (max-width: 1060px) {
        font-size: 1.2rem;
      }

      @keyframes apparition {
        from {
          transform: scale(0);
        }
        to {
          transform: scale(1);
        }
      }
    }
    // définition du style du prix et animation au chargement de la page
    h3 {
      grid-area: a;
      display: flex;
      color: $color-2;
      font-size: 0.9rem;
      padding: 10px;
      align-items: center;
      justify-content: center;
      text-align: center;

      animation: deroul 2s;
      animation-iteration-count: 1;
      @keyframes deroul {
        from {
          transform: translateX(-400px);
        }
        to {
          transform: translateX(0);
        }
      }
    }
  }
}
