.logo {
  bottom: 1%;
}
.card {
  flex: 1 0 25%;
  min-width: 260px;
  max-width: 400px;
  z-index: 10;
  overflow: visible;
  &:hover {
    border: thick double #32a1ce;
    animation: secouer 2s;
    box-shadow: 10px 5px 5px $color-4;
    @keyframes secouer {
     // 0% {transform: translateX(0px) translateY(0) };
      50% {transform: translateX(10px) translateY(-10px)};
      //100% {transform: translateX(0px) translateY(0)};
    }
  }
  height: 350px;
  background: $color-1;
  border-radius: 35px;
  margin: 20px;
  position: relative;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    object-position: top;
  }

  h1 {
    position: absolute;
    top: 10px;
    left: 10px;
    color: $color-2;
    font-size: 1.8rem;
    font-weight: 800;
    width: 98%;
    animation: apparition 2s;
  }
  .card-text {
    //position: absolute;
    background: $white;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 100px;
    grid-template-areas: "a b";
    

    h2 {
      grid-area: b;
      display: flex;
      color: $color-4;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 100%;
      animation: apparition 4s;

      @keyframes apparition {
          from {transform: scale(0)};
          to {transform: scale(1)};
      }
      
    }
    h3 {
      grid-area: a;
      display: flex;
      color: $color-2;
      font-size: 0.9rem;
      padding: 10px;
      align-items: center;
      justify-content: center;
      text-align: center;
      
      animation : deroul 0.5s;
      animation-iteration-count: 1;
      @keyframes deroul {
        from {transform: translateX(-400px)};
        to {transform: translateX(0)};
        
      }

    }
  }
}
