.imageport {
  
  height: auto;
  position: relative;
  
  box-shadow: 0 0 2px rgba(51, 51, 51, 0.25);
  transition: 1s;
  overflow: hidden;
  

  
  img {
    object-fit: cover;
    width:100%;
    height: auto;
  }
}
