.navigation {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 1.4rem;
  line-height: 32px;
  z-index: +10;


   &::before {
    content: '';
    position: absolute;
    height: 300px;
    width: 320px;
    background: $color-3;
    opacity: 0.75;
    border-radius: 50%;
    border: 2px solid $color-2;
    top: -150px;
    left: -110px;
    z-index: -1;
    animation: navAnim 15s infinite alternate;
    @keyframes navAnim {
      50% {
        transform: scale(1.2);
      }
      100% {
        transform: scale(1);
      }
    }
}
}
.navactive {
    color: $black;
    font-size: 2rem;
    font-style: italic;
    animation: clignote 3s linear infinite;
    @keyframes clignote {
        50% {color: $color-2;}
    }

    }
    
ul:hover li:not(:hover) {
    opacity: .4;
  }
ul:hover li:hover {
  color: $black;
  }
