@font-face {
  font-family: "font-1";
  src: url(../assets/fonts/Questrial-Regular.ttf);
}
@font-face {
  font-family: "font-2";
  src: url(../assets/fonts/KronaOne-Regular.ttf);
}

$font-1: "font-1", sans-serif;
$font-2: "font-2", serif;

$color-1: #f6f5f5;
$color-2: #1687a7;
$color-3: #d3e0ea;
$color-4: #276668;
$color-5 : #E6E6FA;
$black: rgb(40, 40, 40);
$blacksn:rgba(40,40,40,0.6);
$red: rgb(253, 87, 87);
$blue:steelblue;
$white: #f3f0f0;
$whitesn: rgba(240,240,240,.6);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
  border: none;
  text-decoration: none;

  &::selection {
    color: $color-1;
    background: $color-2;
  }
}
html { 
  scroll-behavior: unset;
}

a,
a:visited {
  color: $color-4;
}
body {
  font-family: $font-1;
  height: 100vh;
  width: 100vw;
  background-color: $color-1;
  color: $black;
  overflow: hidden;


}
h1 {
  font-family: $font-2;
}
h2 {
  font-family: $font-1;
}
h3 {
  font-family: $font-1;
}
h4 {
  font-family: $font-2;
}
main {
  position: relative;
}
p, ul, li {
  font-family: $font-1;
}
.button {
  background: $color-3;
  height: 55px;
  width: 126px;
  border-radius: 50px;
  margin-top: 20px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    letter-spacing: 1px;
    color: $color-2;
  }
}
