
// style page Accueil
.contact {
  //on se cale sur l'ensemble du viewport
  position: absolute;
  width: 100vw;
  height: 100vh;
  //definition du fond de l'écran
  background-image: linear-gradient(200deg, $color-3 0%, $color-4 300%);

  // image de fond animée et mode responsive (positionnement et taille)
  &::before {
    content: "";
    position: absolute;
    top: 20%;
    left: 45%;
    height: 28vw;
    width: 28vw;
    background: url(../../../public/assets/img/photographer-1867417_1920.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 100px 20px $black;
    opacity: 0.7;
    border-radius: 50%;
    animation: flash 10s infinite alternate;

    @media screen and (min-width: 960px) and (max-width: 1200px) {
      top: 20%;
      left: 50%;
      min-width: 150px;
      min-height: 150px;
    }
    @media screen and (min-width: 720px) and (max-width: 960px) {
      top: 30%;
      left: 60%;
      min-width: 150px;
      min-height: 150px;
    }
    @media screen and (max-width: 720px) {
      top: 65%;
      left: 60%;
      width: 140px;
      height: 140px;
    }
    @media screen and (max-width: 500px) {
      top: 65%;
      left: 50%;
      width: 140px;
      height: 140px;
    }

    @keyframes flash {
      0% {
        transform: scale(1.2);
      }
      100% {
        transform: scale(1);
      }
    }
  }
  // on redefinit pour cette page l'emplacement du logo et mode responsive
  .logo {
    position: absolute;
    width: 150px;
    height: 150px;
    @media screen and (max-width: 1060px) {
      top: 2%;
      left: 45%;
      width: 130px;
      height: 130px;
    }
  }
  // on redefinit pour cette page l'emplacement des icones des réseaux sociaux en mode responsive
  .social-network {
    @media screen and (max-width: 1060px) {
      right: 10%;
    }
  }
   //on redefinit pour cette page la dimension de la navigation en mode responsive
  .navigation {
    @media screen and (max-width: 1250px) {
      font-size: 1rem;
      line-height: 25px;
      top: 0.5rem;
      left: 0.3rem;
      &::before {
        height: 200px;
        width: 200px;
        top: -80px;
        left: -80px;
      }
      .navactive {
        font-size: 1.3rem;
      }
    }
  }
  // definition du style du formulaire et mode responsive
  .contact-form {
    margin: 15% 0 0 10%;
    position: relative;
    max-width: 350px;
    @media screen and (min-width: 940px) and (max-width: 1060px) {
      margin: 20% 0 0 10%;
    }
    @media screen and (min-width: 540px) and (max-width: 940px) {
      margin: 27% 0 0 10%;
    }
    @media screen and (max-width: 540px) {
      margin: 40% 0 0 10%;
    }
    // positionnement du message en en-tête du formulaire
    h2 {
      margin-bottom: 20px;
    }
    // style du contenu de l azone de saisie du formulaire
    .form-content {
      display: grid;
      grid-template-rows: repeat(4, 1fr) 100px;
      // style des champs de saisie et mode responsive
      input,
      textarea {
        background: none;
        font-size: 1.2rem;
        border-bottom: 1px solid $color-2;

        @media screen and (min-width: 1200px) {
          font-size: 1.5rem;
        }
      }
      // style spécifique au champs input et mode responsive
      input {
        padding: 24px 0 12px;
        width: 100%;

        @media screen and (max-width: 540px) {
          width: 75%;
          padding: 12px 0 6px;
        }
      }
      // style spécifique au champs mail et mode responsive
      .email-content {
        position: relative;
        width: 100%;
        border-bottom: 1px solid $color-2;

        @media screen and (max-width: 540px) {
          width: 75%;
        }
        // style pour message email invalide animé et mode responsive
        #not-mail {
          display: none; //non affiché au départ
          position: absolute;
          top: 8px;
          color: $red;
          right: 0;
          transform-origin: 50% 50%;
        }
        @keyframes dongle {
          0% {
            transform: translate(0px, 0px);
          }
          10% {
            transform: translate(-10px, 0px);
          }
          20% {
            transform: translate(10px, 0px);
          }
          30% {
            transform: translate(-10px, 0px);
          }
          40% {
            transform: translate(10px, 0px);
          }
          50% {
            transform: translate(-10px, 0px);
          }
          60% {
            transform: translate(10px, 0px);
          }
          70% {
            transform: translate(-10px, 0px);
          }
          80% {
            transform: translate(10px, 0px);
          }
          90% {
            transform: translate(-10px, 0px);
          }
          100% {
            transform: translate(0px, 0px);
          }
        }
        input {
          border: none;
        }
      }
      // style de la zone du message et mode responsive
      textarea {
        resize: none;
        padding: 24px 0;

        @media screen and (max-width: 540px) {
          width: 75%;
          padding: 12px 0;
        }
      }
    }
    // style des champs obligatoires non remplies
    .error::placeholder {
      color: blueviolet;
    }
    // style du message en bas du formulaire pour envoi et zones à remplir
    .form-message {
      margin-top: 10px;
      padding: 12px;
      opacity: 0;
      background: $color-2;
      transition: 0.3s ease;
      color: $color-1;
      border-radius: 4px;
      box-shadow: 0 0 10px $color-4;
    }
  }
// style de la zone de l'affichage de l'adresse, du telephone et du mail et mode responsive
  .contact-infos {
    position: absolute;
    bottom: 0%;
    right: 0;
    display: grid;
    grid-template-rows: repeat(4, 23%) 12%;
    height: 50%;
    width: 40%;
    max-width: 500px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas:
      ". . a a "
      ". b b ."
      "c c . .";

    @media screen and (max-width: 960px) {
      display: flex;
      justify-content: space-around;
      text-align: center;
      padding: 2%;
      grid-gap: 5%;
      height: 15%;
      width: 100%;
      max-width: 100%;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas:
        "a "
        "b"
        "c";
    }
      // style du titre de l'item et mode responsive
    h4 {
      color: $color-4;
      font-size: 1.8rem;
      font-weight: 200;
      margin-bottom: 10px;
      @media screen and (max-width: 960px) {
        font-size: 1.3rem;
      }
      @media screen and (max-width: 600px) {
        font-size: 1rem;
      }
    }
    //style des infos et mode responsive
    p {
      font-size: 1.25rem;
      @media screen and (max-width: 960px) {
        font-size: 1rem;
      }
      @media screen and (max-width: 600px) {
        font-size: 0.7rem;
      }
    }
    // animation des infos telephone et mail
    .email .content p,
    .phone .content p {
      transition: 0.25s;
      &:hover {
        transform: translateX(5px);
      }
    }
    // défintion des zones d'affcihages des infos de contact
    .address {
      width: auto;
      grid-area: a;
    }
    .phone {
      grid-area: b;
    }
    .email {
      grid-area: c;
    }
  }
}
