// style page Accueil
.home {
  //on se cale sur l'ensemble du viewport et definit la largeur minimale à 400px
  height: 100vh;
  width: 100vw;
  min-width: 400px;
  // on redefinit pour cette page l'emplacement du logo en mode responsive
  .logo {
    position: absolute;
    width: 150px;
    height: 150px;
    @media screen and (max-width: 980px) {
      bottom: 10%;
      right: 10%;
    }
    @media screen and (max-width: 500px) {
      bottom: 8%;
      right: 8%;
    }
  }
  // on redefinit pour cette page l'emplacement des icones des réseaux sociaux en mode responsive
  .social-network {
    @media screen and (max-width: 980px) {
      right: 10%;
    }
  }
  //on redefinit pour cette page la dimension de la navigation en mode responsive
  .navigation {
    @media screen and (max-width: 980px) {
      font-size: 1rem;
      line-height: 25px;
      top: 0.5rem;
      left: 0.3rem;
      &::before {
        height: 200px;
        width: 200px;
        top: -80px;
        left: -80px;
      }
      .navactive {
        font-size: 1.5rem;
      }
    }
  }
  // affichage de l'image de fond de la page et positionnement responsive
  .bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/assets/img/wedding-1745240_1920.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
    z-index: -10;

    @media screen and (max-width: 980px) {
      background-position: 25%;
    }
  }
  // mise en forme du contenu de la page
  .home-main {
    display: grid;
    align-items: center;
    justify-items: center;
    padding-left: 1rem;
    width: auto;
    height: 100%;
    overflow: hidden;
    // mise en forme des éléments àafficher
    .main-content {
      user-select: none;
      justify-items: center;
      text-align: center;
      color: $color-4;
      line-height: 100px;
      width: 85%;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      // Nom : animation et taille de la police en mode responsive
      h1 {
        font-size: 5rem;
        animation: fadeIn 3s;
        @media screen and (max-width: 980px) {
          font-size: 3rem;
        }

        @keyframes fadeIn {
          from {
            opacity: 0;
            font-size: 0.2rem;
          }
          to {
            opacity: 3;
          }
        }
      }
      // Qualite : animation et taille de la police en mode responsive
      h2 {
        font-size: 3em;
        font-weight: 100;
        animation: fadeIn 6s;
        @media screen and (max-width: 980px) {
          font-size: 2em;
        }

        @keyframes fadeIn {
          from {
            opacity: 0;
            font-size: 0.1rem;
          }
          to {
            opacity: 3;
          }
        }
      }
    }
    // Thèmes : animation,couleur, taille et position de la police en mode responsive
    h3 {
      position: absolute;
      text-align: center;
      bottom: 5%;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;

      color: $color-1;
      font-size: 1.5rem;
      font-weight: bold;
      animation: 8s appear;
      opacity: 1;

      @media screen and (max-width: 980px) {
        font-size: 1rem;
        width: 80%;
      }
      @media screen and (max-width: 500px) {
        bottom: 15%;
        font-size: 1rem;
        width: 50%;
        left: 20px;
        text-align: center;
        margin: 0;
      }

      @keyframes appear {
        0% {
          opacity: 0;
        }
        50% {
          opacity: 0;
        }
        75% {
          opacity: 0.5;
        }
        100% {
          opacity: 1;
        }
      }
    }
  }
}
