// style page Prestation
.prestation {
  //on se cale sur l'ensemble du viewport
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow-y: auto; // autorise le scroll vertical en mode auto
  overflow-x: hidden;// inhibe le scroll horizontal
// on redefinit pour cette page l'emplacement du logo et mode responsive (en haut de page)
  .logo {
    position: absolute;
    top: 2%;
    left: 45%;
    width: 150px;
    height: 150px;
    @media screen and (max-width: 1100px) {
      width: 120px;
      height: 120px;
    }
  }
// on redefinit pour cette page l'emplacement des icones des réseaux sociaux en mode responsive
  .social-network {
    @media screen and (max-width: 1100px) {
      right: 20%;
    }
  }
  //on redefinit pour cette page la dimension de la navigation en mode responsive
  .navigation {
    @media screen and (max-width: 1060px) {
      font-size: 1rem;
      line-height: 25px;
      top: 0.5rem;
      left: 0.3rem;
      &::before {
        height: 200px;
        width: 200px;
        top: -60px;
        left: -60px;
      }
      .navactive {
        font-size: 1.3rem;
      }
    }
  }
  // affichage du fond animé de la page
  .bg {
    animation: slide 14s linear infinite alternate;
    background-image: linear-gradient(-60deg, $color-3 50%, $color-2 20%);
    bottom: 0;
    left: -50%;
    opacity: 0.5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
  }

  .bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 18s;
  }

  .bg3 {
    animation-duration: 20s;
  }
  @keyframes slide {
    0% {
      transform: translateX(-25%);
    }
    100% {
      transform: translateX(25%);
    }
  }
  // mise en forme du contenu de la page 
  .content {
    position: absolute;
    top: 20%;
    left: 10%;
    right: 10%;
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
