.prestation {
  position: absolute;
  width: 100vw;
  height: 100vh;
    
  .bg {
  animation:slide 14s linear infinite alternate;
  background-image: linear-gradient(-60deg, $color-3 50%, $color-2 20%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:18s;
}

.bg3 {
  animation-duration:20s;
}
@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}
}